@keyframes heart-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes sparks-flash {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.like-icon {
  cursor: pointer;
  transform-origin: center;
}

.like-icon .contour {
  fill: var(--contour-color, #000);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--animation-fill-color, #ff0000);
}

/*HOVER*/

.like-icon:hover .core {
  fill: var(--contour-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color, #000);
  transition: fill 0.3s linear 0.05s;
}

/*ACTIVE*/

.like-icon:active .core {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

/*СОСТОЯНИЕ ПРИ КЛИКЕ*/

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s 0.3s ease-in;
}
