.page {
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--card-text-weight);
  background-color: #fff;
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: var(--text-color, #000);
}

.container {
  width: var(--container-width);
  margin: 0 auto;
}

.header {
  margin-top: 100px;
  padding: var(--header-padding);
  text-align: center;
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-color: var(--header-bg-color);
  border: 2px solid var(--header-border-color);
  margin-bottom: var(--header-margin-bottom);
  inline-size: clamp(375px, 50vw, 700px);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__logo {
  font-size: var(--logo-font-size);
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  font-size: var(--title-font-size);
  line-height: 1;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
}

.main {
  max-inline-size: clamp(375px, 50vw, 700px);
  margin: 0 auto;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-sizing: border-box;
}

.card {
  background-color: var(--card-bg-color);
  border: 2px solid var(--card-border-color);
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
}

.card__title {
  font-variation-settings: "wght" var(--card-title-weight);
  padding: 5.5px 10px;
  border-bottom: 2px solid var(--card-border-color);
  font-size: 18px;
  line-height: 100%;
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__text-block {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  color: var(--card-text-color);
  font-weight: var();
}

.card__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card__like-section {
  display: flex;
  gap: 6px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.438rem;
  height: 2.375rem;
  transition: border-color 0.3s ease;
}

.button {
  background-color: var(--button-bg-color);
  border: 2px solid var(--button-border-color);
  cursor: pointer;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  color: var(--button-text-color);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: var(--button-shadow);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--button-hover-bg);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color-inverted);
  mix-blend-mode: difference;
  font-size: 14px;
  line-height: 90%;
  text-align: center;
}

.card__like-button {
  width: 130px;
  padding: 8.5px 37px;
  height: 38px;
}

.save-button {
  padding: 16px 13px 16px 19px;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card__image-container {
  position: relative;
  overflow: hidden;
  border-top: 2px solid var(--card-border-color);
  border-bottom: 2px solid var(--card-border-color);
}

.card__label {
  position: absolute;
  top: 27px;
  right: 25px;
  z-index: 1;

  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--label-text-color);

  opacity: 0.5;
  mix-blend-mode: hard-light;

  text-shadow: -1px -1px 0 var(--label-stroke-color),
    1px -1px 0 var(--label-stroke-color), -1px 1px 0 var(--label-stroke-color),
    1px 1px 0 var(--label-stroke-color);
}

@supports (
  (-webkit-text-stroke: 1px var(--label-stroke-color)) or
    (text-stroke: 1px var(--label-stroke-color))
) {
  .card__label {
    text-shadow: none;

    -webkit-text-stroke: var(--label-stroke-width) var(--label-stroke-color);
    text-stroke: var(--label-stroke-width) var(--label-stroke-color);
  }
}

@supports (paint-order: stroke fill) {
  .card__label {
    paint-order: stroke fill;
  }
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  object-position: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--modal-width);
  padding: 30px;
  border: 2px solid var(--modal-border-color);
  background-color: var(--modal-bg-color);
  z-index: 1000;
  margin: 0;
  box-sizing: border-box;
  width: 353px;
}

.modal:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  box-sizing: border-box;
}

.modal__image-text {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 1;
}

.modal__image {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

.modal__description {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  color: var(--modal-text-color);
  margin: 0;
  flex: 1;
  text-transform: uppercase;
}

.modal__form {
  margin-top: 0;
}

.modal__button {
  width: 100%;
  padding: 12.5px 132.5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__text-modal {
  text-transform: uppercase;
}

.card__image--sepia {
  filter: var(--filter-sepia);
}

.card__image--saturate {
  filter: var(--filter-saturate);
}

.card__image--brightness {
  filter: var(--filter-brightness);
}

.card__image--hue-rotate {
  filter: var(--filter-hue-rotate);
}

.card__image--grayscale {
  filter: var(--filter-grayscale);
}

.card__image--blur {
  filter: var(--filter-blur);
}

.card__image--multi {
  filter: var(--filter-multi);
}

.save__image {
  width: 21px;
  height: 21px;
  object-fit: cover;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  object-position: center;
  color: #000;
  background-color: #fff;
}

svg {
  display: block;
}

@media (width <= 376px) {
  :root {
    --container-width: 100%;
    --header-padding: 121px 0;
  }

  .header {
    margin-block: 100px 98px 0;
    padding: 121px 0;
    inline-size: clamp(375px, 50vw, 700px);
  }

  .header__logo {
    width: 100%;
    max-width: 100%;
  }

  .header__title {
    width: 100%;
    max-width: 100%;
  }

  .main {
    align-items: center;
    margin-block-end: 100px;
  }

  .card {
    width: 100%;
  }

  .card__title {
    font-size: 18px;
    line-height: 21px;
  }

  .card__text-block {
    gap: clamp(15px, 6.67vw, 25px);
  }

  .card__image-container {
    width: 100%;
  }

  .save-button {
    flex-direction: column;
    gap: 8px;
    padding: 14px 18px;
  }

  .save__image {
    width: 31px;
    height: 31px;
  }
}
