:root {
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  --card-text-weight: 410;
  --card-title-weight: 715;
  --card-border-weight: var(--card-title-weight);
  font-size: 18px;

  --background-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a);

  --container-width: 700px;
  --logo-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-padding: 129px 0;

  --card-bg-color: #fff;
  --card-border-color: #000;
  --card-text-color: #000;
  --button-bg-color: #fff;
  --button-border-color: #000;
  --button-text-color: #000;

  --label-stroke-color: #fff;
  --label-text-color: #000;
  --label-stroke-width: 1px;

  --modal-bg-color: var(--card-bg-color);
  --modal-border-color: var(--card-border-color);
  --modal-text-color: var(--card-text-color);
  --modal-padding: 1.875rem;
  --modal-width: clamp(21.3125rem, 20.5rem + 2.5vw, 22.0625rem);

  --filter-sepia: sepia(80%);
  --filter-saturate: saturate(250%);
  --filter-brightness: brightness(120%) contrast(110%);
  --filter-hue-rotate: hue-rotate(90deg);
  --filter-grayscale: grayscale(100%);
  --filter-blur: blur(2px);
  --filter-multi: invert(1) hue-rotate(180deg);

  --accent-color: #000;
  --button-hover-bg: #000;
  --button-text-hover: #fff;
  --button-shadow: 2px 2px 0 var(--accent-color);
  --button-text-color: #000;
  --button-text-color-inverted: #fff;

  --header-bg-color: #fff;
  --header-border-color: var(--card-border-color);
  --header-margin-bottom: 94px;

  --contour-color: #000;
  --animation-fill-color: #ff0000;
}
